---
---

@import "{{ site.theme }}";

.markdown-body blockquote:before {
    content: "\201C";
}

.markdown-body abstract {
    @extend blockquote;
    display: block;
}

.markdown-body abstract:before {
    content: "";
}

.markdown-body takeaway {
    @extend abstract;
}

.highlighter-rouge {
    background-color: #eee;
    padding: 0.5ex;
    border-radius: 0.5ex;
}

.twitter-handle {
    background-image: url(/assets/Twitter_Logo_Blue.svg);
    background-repeat: no-repeat;
    padding: 4px;
    padding-left: 3ex;
}
